html, body {
  height: 100%;
  width: 100%;
}

.layout {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page {
  background-color: white;
  vertical-align: top;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.velocity-animating {
  z-index: 99;
}
