html, body {
  height: 100%;
  width: 100%;
}

.layout {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.page {
  background-color: white;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 100%;
}

.page-inside {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.velocity-animating {
  z-index: 99;
}
